@using VirtualServersViewer.ViewModels;

@model VirtualServersViewModel
@{
    ViewData["Title"] = "Virtual Servers Viewer";
}

<style>
    .table > thead > tr > th, .table > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

    p {
        margin: 0px;
        font-size: 17px;
        vertical-align: central;
    }
</style>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-2" style="padding:0px 0px 0px 10px;">
            <p>Current Date Time:</p>
        </div>
        <div class="col-sm-2" style="padding:0px 10px 0px 0px;">
            <p id="currentDateTime"></p>
        </div>
    </div>
</div>
<hr />
<form asp-action="Remove" asp-controller="Home" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="padding:0px 0px 0px 10px;">
                <p>Total Usage Time:</p>
            </div>
            <div class="col-sm-2" style="padding:0px 10px 0px 0px;">
                <p>@Html.DisplayFor(p => Model.Timer)</p>
            </div>
            <div class="col-sm-1 col-sm-offset-5">
                <a id="addButton" type="button" class="btn btn-lg btn-success"
                   href="@Url.Action("Add", "Home")">
                    Add
                </a>
            </div>
            <div class="col-sm-2">
                <input class="btn btn-lg btn-danger" type="submit" value="Remove" />
            </div>
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Virtual Server Id</th>
                    <th>Create Date Time</th>
                    <th>Remove Date Time</th>
                    <th>Selected For Remove</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.VirtualServerList.Count(); i++)
                {
                    <tr id="row" hidden>
                        <td>
                            @Html.HiddenFor(p => p.VirtualServerList[i].VirtualServerId)
                            @Model.VirtualServerList[i].VirtualServerId
                        </td>
                        <td id="createDateTime">
                            @Html.HiddenFor(p => p.VirtualServerList[i].CreateDateTime)
                            @Html.DisplayFor(p => p.VirtualServerList[i].CreateDateTime)
                        </td>
                        <td id="removeDateTime" style="text-indent:-9999px;">
                            @if (Model.VirtualServerList[i].RemoveDateTime == null)
                            {
                                @Html.HiddenFor(p => p.VirtualServerList[i].RemoveDateTime)
                            }
                            else
                            {
                                @Html.DisplayFor(p => p.VirtualServerList[i].RemoveDateTime)
                            }
                        </td>
                        <td>
                            @Html.CheckBoxFor(p => p.VirtualServerList[i].isSelectedForRemove)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>


@section Scripts
    {
    <script>
        $(window).on('load', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("CurrentTimer", "Home")'
            });
        });
        
    </script>
}
